<div id="topbar"><h1>My Tasks</h1></div>
<div id="topbar"><a href="/task_lists/new">+ Add Task List</a></div>
<br>

<section class="task-list">
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.task %>
        <%= "(#{(task.date - Date.today).to_i} days)" %>
        <span class="bold"><%= " -  #{task.assigned_to} " if task.assigned_to != "Me" %></span>
        <div class="right_float"><%= link_to 'Delete', task_path(id: task.id), method: :delete %></div>
        <div class="right_float"><a href="/tasks/<%= task.id %>/complete">Complete</a></div>
      </li>
    <% end %>
  </ul>
</section>

