<div id="topbar"><h1>My Lists</h1></div>
<div id="topbar"><a href="/task_lists/new">+ Add Task List</a></div>
<br>
<% if flash[:notice] %>
  <div class='flash'><%= flash[:notice] %></div>
<% end %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <dl>
      <dt>
      <div id="topbar">
        <h1><a href='/task_lists/<%= task_list.id %>'><%= task_list.name %></a></h1>
      </div>
      <div id="topbar" class="right_float"><a href="/tasks/<%= task_list.id %>/new">+ Add Task</a></div>
      <div id="topbar" class="right_float"><a href="/task_lists/<%= task_list.id %>/edit">Edit</a></div>
      </dt>
      <% @tasks.each do |task| %>
        <dd>
          <p>
            <%= task.task if task.task_lists_id == task_list.id %>
            <% if task.task_lists_id == task_list.id %>
              <%= "(#{(task.date - Date.today).to_i} days)" %>
            <% end %>
          </p>
        </dd>
      <% end %>
    </dl>

  </section>

<% end %>
