<h2>Add a Task List</h2>

<% if @task.errors.present? %>
  <div class="errors">
    <% @task.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.submit %>
<% end %>